* {
    box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
}

h1 {

}
h2 {
  padding: 0;
  margin: 10px 0;
}

.center {
    width: auto;
    position: relative;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}
.right {
    position: relative;
    float: right;
}
#page {
  max-width: 900px;
  margin: auto;
  padding: 0 20px;
}
.header {
    background-color: #B3DDF2;
    line-height: 3em;
}
.header-star {
    background-image: url(//zkm.s3.amazonaws.com/428923.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 5%;
    height: 3em;
    margin: 1%;
    position: relative;
    vertical-align: middle;
}
.nav {
    display: inline-block;
    width: 70%;
    font-weight: 600;
}
#menu-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu-header > li {
    margin: 1%;
    box-sizing: border-box;
    text-decoration: none;
}
#menu-header > li:first {
    margin-left: 3%;
}

ul.menu {
  padding: 0;
  margin: 0;
}

li.menu-item {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.content {
  max-width: 600px;
  width: 66%;
  display: inline-block;
}
.sidebar {
  width: 33%;
  display: inline-block;
  float; right;
}
.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0 15px;
}
.error404 {
    background-color: #000;
    color: #fff;
}
.fourohfour {
    max-width: 500px;
    width: 66%;
    height: auto;
    top: 0;
    margin: 0;
    position: absolute;
    color: #fff;
    background-image: url('//zkm.s3.amazonaws.com/grim-repo.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.fourohfour .center {
    width: 100%;
    margin-top: 2em;
}
.fourohfour a {
    color: #fff;
    text-decoration: none;
}
.saveme {
    color: #fff;
    font-size: 1.4em;
    line-height: 2em;
    margin: 0;
}
.saveme .dashicons {
    font-size: 1.5em;
    margin-right: 5px;
    width: 1.5em;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

// Media Queries for Tablet
@viewport {
  width: device-width;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 120%;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  #page {
    padding: 0 10px;
  }
  .content {
    width: 100%;
  }
  .sidebar {
    width: 100%;
  }
  .nav {
    width: 65%;
  }

}
