* {
    box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
}

h1 {

}
h2 {
  padding: 0;
  margin: 10px 0;
}

#page {
  max-width: 900px;
  margin: auto;
  padding: 0 20px;
}

.nav {
    width: 100%;
}
#menu-menu {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu-menu > li {
    margin: 1%;
    box-sizing: border-box;
}

ul.menu {
  padding: 0;
  margin: 0;
}

li.menu-item {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.content {
  max-width: 500px;
  width: 66%;
  display: inline-block;
}
.sidebar {
  width: 33%;
  display: inline-block;
  float; right;
}
.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0 15px;
}
.fourohfour {
    max-width: 100%;
    height: auto;
    background-color: #000;
    background-image: url('//zkm.s3.amazonaws.com/grim-repo.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
.center {
    width: auto;
    position: relative;
    margin: 0 auto;
    display: inline-block;
	text-align: center;
}
.fourohfour {
	top: 0;
	margin: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	color: #fff;
}
.fourohfour .center {
	width: 100%;
	box-sizing: border-box;
	margin-top: 2em;
}
.fourohfour a {
	color: #fff;
	text-decoration: none;
}
.saveme {
	color: #fff;
	font-size: 1.4em;
	line-height: 2em;
	margin: 0;
}
.saveme .dashicons {
	font-size: 1.5em;
	margin-right: 5px;
	width: 1.5em;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

// Media Queries for Tablet
@viewport {
  width: device-width;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 120%;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .content {
    width: 100%;
  }
  .sidebar {
    width: 100%;
  }
}
